{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}


{% block body %}

<a href="{{ path('program_show', {id}) }}">Affiche l'id : {{id}}</a>
<h1>Page number {{ id }}.</h1>
{% endblock %}